numpy
pytest
coverage
pytest-cov
https://sourceforge.net/projects/pyquante/files/PyQuante-1.6/PyQuante-1.6.5/PyQuante-1.6.5.tar.gz  ; python_version <= '2.7'
git+https://github.com/django-extensions/django-extensions
